:root {
  --all-spot-rectangle-amount: 20;
  --each-event-slider-rate: calc(2 / 4);
  --each-event-slider-active-width: 1000px;
  --each-event-slider-bullet-color: rgba(43, 43, 43, 1);
  --spot-background-width: 80vw;
  --spot-background-rate: calc(29 / 66);
  --all-content-motto-wrapper-span-color: rgba(183, 183, 255, 1);
  --all-content-motto-top-right-text-width: 520px;
  --each-team-member-wrapper-width: 200px;
  --each-team-member-wrapper-height: calc(var(--each-team-member-wrapper-width) * 3 / 2);
  --each-team-member-info-layer-height: calc(var(--each-team-member-wrapper-height) * 3 / 10);
  --member-1-background-color: rgba(215, 227, 178, 1);
  --member-2-background-color: rgba(107, 214, 207, 1);
  --member-3-background-color: rgba(97, 174, 255, 1);
  --member-4-background-color: rgba(241, 203, 255, 1);
  --member-5-background-color: rgba(137, 234, 255, 1);
  --member-6-background-color: rgba(253, 145, 75, 1);
  --member-7-background-color: rgba(155, 155, 255, 1);
  --member-8-background-color: rgba(158, 240, 181, 1);
  --member-9-background-color: rgba(215, 80, 80, 1);
  --member-10-background-color: rgba(219, 240, 158, 1);
  --member-11-background-color: rgba(183, 183, 255, 1);
  --member-12-background-color: rgba(103, 255, 182, 1);
  --member-1-name-color: rgba(218, 255, 158, 1);
  --member-2-name-color: rgba(107, 214, 207, 1);
  --member-3-name-color: rgba(153, 203, 255, 1);
  --member-4-name-color: rgba(241, 203, 255, 1);
  --member-5-name-color: rgba(137, 234, 255, 1);
  --member-6-name-color: rgba(244, 113, 28, 1);
  --member-7-name-color: rgba(138, 195, 255, 1);
  --member-8-name-color: rgba(158, 240, 181, 1);
  --member-9-name-color: rgba(215, 80, 80, 1);
  --member-10-name-color: rgba(219, 240, 158, 1);
  --member-11-name-color: rgba(183, 183, 255, 1);
  --member-12-name-color: rgba(103, 255, 182, 1);
  --all-footer-input-height: 40px;
  --events-slider-wrapper-width: 200vh;
  --events-slider-wrapper-padding-top: calc(var(--box-padding) * 1.5);
  --events-slider-wrapper-padding-sides: calc(var(--box-padding) * 2.2);
}

.become-visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.all-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--events-slider-wrapper-padding-top));
  scroll-behavior: smooth;
}

.all-content-wrapper {
  display: flex;
  flex-direction: column;
  top: calc(var(--all-header-wrapper-height) + var(--box-padding) * 1.6);
  width: 100vw;
  min-width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.all-content-inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--box-padding) * 2);
  width: 100vw;
  min-width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.events-slider-outer-wrapper {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--events-slider-wrapper-padding-top) + var(--all-header-wrapper-height));
  gap: calc(var(--each-event-slider-active-width) / 60);
}

.events-slider-outer-wrapper-end {
  position: relative !important;
  top: calc(var(--events-slider-wrapper-width) - 100vw) !important;
}

.events-slider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 max(var(--events-slider-wrapper-padding-sides), (100vw - (100vh - var(--all-header-wrapper-height) - var(--events-slider-wrapper-padding-top) * 2) / var(--each-event-slider-rate)) / 2);
  overflow: hidden;
  width: 100vw;
  min-width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.events-slider-wrapper::-webkit-scrollbar {
  display: none;
}

.each-event-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: auto;
  min-width: min(calc((100vw - var(--events-slider-wrapper-padding-sides) * 2) * var(--each-event-slider-rate) * 2), calc((100vh - var(--events-slider-wrapper-padding-top) * 2 - var(--all-header-wrapper-height)) * 2));
  height: auto;
  opacity: 0;
}

@media (orientation: landscape) {
  .each-event-slider-image {
    width: 100%;
    min-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media (orientation: portrait) {
  :root {
    --events-slider-wrapper-padding-top: calc(var(--box-padding) * 3);
  }

  .each-event-slider-image {
    width: calc(100vw - var(--events-slider-wrapper-padding-sides) * 4);
    min-width: calc(100vw - var(--events-slider-wrapper-padding-sides) * 4);
    height: calc(100vh - var(--all-header-wrapper-height) - var(--events-slider-wrapper-padding-top) * 4);
    min-height: calc(100vh - var(--all-header-wrapper-height) - var(--events-slider-wrapper-padding-top) * 4);
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.each-event-slider-text {
  position: absolute;
  color: var(--text-color);
  max-width: 80%;
  font-size: 80px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
}

@media only screen and (max-width: 1200px),
(max-height: 800px) {
  .each-event-slider-text {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1000px),
(max-height: 740px) {
  .each-event-slider-text {
    font-size: 60px;
  }
}

@media only screen and (max-width: 900px),
(max-height: 690px) {
  .each-event-slider-text {
    font-size: 52px;
  }
}

@media only screen and (max-width: 800px),
(max-height: 640px) {
  .each-event-slider-text {
    font-size: 46px;
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 700px),
(max-height: 600px) {
  .each-event-slider-text {
    font-size: 38px;
  }
}

@media only screen and (max-width: 600px),
(max-height: 550px) {
  .each-event-slider-text {
    font-size: 34px;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 500px),
(max-height: 500px) {
  .each-event-slider-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px),
(max-height: 450px) {
  .each-event-slider-text {
    font-size: 22px;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 300px),
(max-height: 400px) {
  .each-event-slider-text {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.events-slider-bullets-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--box-padding) / 4);
}

.each-event-slider-bullet {
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  border-radius: 50%;
  background: var(--each-event-slider-bullet-color);
  cursor: pointer;
}

.each-event-slider-bullet-filled {
  background: var(--secondary-color);
}

.all-content-spot-wrapper {
  position: relative;
  left: 1vw;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 100vw;
  overflow: hidden;
  margin-top: calc(var(--events-slider-wrapper-width) - 100vw);
}

.spot-background {
  width: var(--spot-background-width);
  min-width: var(--spot-background-width);
  height: auto;
  min-height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
}

.all-spot-rectangles-top-wrapper {
  position: absolute;
  left: calc(100vw - var(--spot-background-width) - calc(var(--spot-background-width) / 800));
  display: flex;
}

.each-spot-rectangle-top {
  width: calc(var(--spot-background-width) / var(--all-spot-rectangle-amount) * 0.75);
  min-width: calc(var(--spot-background-width) / var(--all-spot-rectangle-amount) * 0.75);
  background: var(--background-color);
  -webkit-animation: spotRectangleAnimation 2s ease-in-out infinite alternate;
  animation: spotRectangleAnimation 2s ease-in-out infinite alternate;
}

@-webkit-keyframes spotRectangleAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(var(--spot-background-width) / -80));
  }
}

@keyframes spotRectangleAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(var(--spot-background-width) / -80));
  }
}

.each-spot-column {
  width: calc(var(--spot-background-width) / var(--all-spot-rectangle-amount) * 0.25);
  min-width: calc(var(--spot-background-width) / var(--all-spot-rectangle-amount) * 0.25);
  height: calc(var(--spot-background-width) * var(--spot-background-rate));
  background: var(--background-color);
}

.all-spot-rectangles-bottom-wrapper {
  position: absolute;
  left: calc(100vw - var(--spot-background-width) - var(--spot-background-width) / 800 - (var(--spot-background-width) / var(--all-spot-rectangle-amount) * 0.25) / 2);
  bottom: calc(var(--spot-background-width) / -80);
  display: flex;
}

.each-spot-rectangle-bottom {
  width: calc(var(--spot-background-width) / var(--all-spot-rectangle-amount));
  min-width: calc(var(--spot-background-width) / var(--all-spot-rectangle-amount));
  background: var(--background-color);
  -webkit-animation: spotRectangleAnimation 2s ease-in-out infinite alternate;
  animation: spotRectangleAnimation 2s ease-in-out infinite alternate;
}

.all-content-motto-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  font-size: 80px;
  line-height: 1.2;
  padding: 0 calc(var(--box-padding) * 2);
  margin-top: -120px;
}

.all-content-motto-top-wrapper {
  display: flex;
  align-items: center;
  gap: var(--box-padding);
}

.all-content-motto-top-left-wrapper {
  display: flex;
  flex-direction: column;
}

.each-motto-line {
  color: var(--text-color);
  letter-spacing: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.6s ease-in-out;
}

.each-motto-line span {
  background: linear-gradient(-45deg, var(--all-content-motto-wrapper-span-color) 48%, #fff 50%, var(--all-content-motto-wrapper-span-color) 52%);
  background-size: 240% 240%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation: mottoLineAnimation 3s ease infinite;
  animation: mottoLineAnimation 3s ease infinite;
}

@-webkit-keyframes mottoLineAnimation {
  0% {
    background-position: 100% 50%;
  }

  70% {
    background-position: 0% 50%;
  }
}

@keyframes mottoLineAnimation {
  0% {
    background-position: 100% 50%;
  }

  70% {
    background-position: 0% 50%;
  }
}

.all-content-motto-top-right-text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.4px;
  width: var(--all-content-motto-top-right-text-width);
  min-width: var(--all-content-motto-top-right-text-width);
  margin: 0 auto;
}

.all-content-motto-top-right-text:nth-child(odd) {
  display: none;
  margin: 0;
  margin-top: calc(var(--box-padding));
  margin-left: auto;
}

.all-content-team-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  max-width: 100vw;
  padding: 0 calc(var(--content-horizontal-padding) * 1.6);
  gap: calc(var(--box-padding) * 1.5);
}

.all-content-team-title {
  width: 30%;
  min-width: 40%;
  color: var(--text-color);
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: 3.2px;
}

.all-content-team-text {
  max-width: 60%;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.4px;
}

.all-content-team-members-wrapper {
  display: flex;
  justify-content: center;
  gap: calc(var(--box-padding) * 1);
}

.each-team-members-column {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) * 3);
  justify-content: center;
}

.each-team-member-wrapper {
  position: relative;
  display: flex;
  width: var(--each-team-member-wrapper-width);
  min-width: var(--each-team-member-wrapper-width);
  height: var(--each-team-member-wrapper-height);
  min-height: var(--each-team-member-wrapper-height);
  border-radius: calc(var(--each-team-member-wrapper-height) / 5);
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes eachTeamMemberWrapperSwingAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes eachTeamMemberWrapperSwingAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.each-team-member-image {
  position: absolute;
  bottom: 0;
  -o-object-fit: contain;
  object-fit: contain;
  width: var(--each-team-member-wrapper-width);
  min-width: var(--each-team-member-wrapper-width);
  max-width: var(--each-team-member-wrapper-width);
  height: auto;
}

.each-team-member-info-layer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: var(--each-team-member-info-layer-height);
  min-height: var(--each-team-member-info-layer-height);
  width: var(--each-team-member-wrapper-width);
  max-width: var(--each-team-member-wrapper-width);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.each-team-member-name {
  display: flex;
  font-size: calc(var(--each-team-member-wrapper-width) / 12);
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-align: center;
  justify-content: center;
}

.each-team-member-title {
  color: var(--text-color);
  font-size: calc(var(--each-team-member-wrapper-width) / 14);
}

.all-content-team-members-secondary-wrapper {
  display: none;
  justify-content: center;
  gap: calc(var(--box-padding) * 1);
}

.all-content-team-members-tertiary-wrapper {
  display: none;
  justify-content: center;
  gap: calc(var(--box-padding) * 1);
}

.all-content-team-members-quaternary-wrapper {
  display: none;
  justify-content: center;
  gap: calc(var(--box-padding) * 3);
}

.each-event-page-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  overflow: scroll;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.7);
}

.each-event-page-wrapper::-webkit-scrollbar {
  display: none;
}

.each-event-page-inner-wrapper {
  position: relative;
  margin: calc(var(--box-padding) * 2);
  flex-direction: column;
  align-items: center;
  width: calc(100vw - calc(var(--box-padding) * 4));
  min-width: calc(100vw - calc(var(--box-padding) * 4));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(0, 0, 0, 0.94);
  padding: calc(var(--box-padding) * 3);
  gap: calc(var(--box-padding));
}

.each-event-page-close-button {
  position: absolute;
  top: calc(var(--box-padding));
  left: calc(var(--box-padding));
  width: 22px;
  min-width: 22px;
  height: auto;
  cursor: pointer;
  stroke: var(--text-color);
}

.each-text-small {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
}

.each-text-medium {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

.each-text-large {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
}

.each-subtitle {
  font-size: 52px;
  line-height: 1.2;
}

.clickable-image-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.clickable-image {
  position: relative !important;
  display: flex !important;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.clickable-image:hover {
  transform: scale(1.02);
}

.clickable-image-big {
  position: relative !important;
  width: auto !important;
  height: auto !important;
  min-width: unset !important;
  min-height: unset !important;
  max-width: 80vw !important;
  max-height: 80vh !important;
  max-width: unset !important;
  max-height: unset !important;
  -o-object-fit: contain !important;
  object-fit: contain !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1000 !important;
}

.clickable-image-big-close {
  position: absolute;
  top: calc(var(--box-padding));
  left: calc(var(--box-padding));
  width: 22px;
  min-width: 22px;
  height: auto;
  cursor: pointer;
  stroke: var(--text-color);
}

.each-url-button {
  display: flex;
  gap: calc(var(--box-padding) / 2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}

.each-url-button:hover>.each-url-button-icon {
  transform: translate(2px, -2px);
}

.each-url-button-text {
  color: var(--text-color);
  font-size: 16px;
}

.each-url-button-icon {
  width: 14px;
  min-width: 14px;
  height: auto;
  stroke: var(--text-color);
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1700px) {
  :root {
    --each-team-member-wrapper-width: 180px;
  }
}

@media only screen and (max-width: 1500px) {
  :root {
    --all-content-motto-top-right-text-width: 400px;
  }

  .all-content-motto-wrapper {
    font-size: 70px;
  }

  .all-content-team-title {
    font-size: 46px;
  }

  .all-content-motto-top-right-text,
  .all-content-team-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1300px) {
  :root {
    --each-team-member-wrapper-width: 170px;
    --all-content-motto-top-right-text-width: 350px;
  }

  .all-content-motto-wrapper {
    font-size: 60px;
  }

  .all-content-motto-top-right-text {
    font-size: 14px;
  }

  .all-content-team-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .all-content-motto-wrapper {
    font-size: 50px;
  }

  .all-content-motto-top-right-text {
    font-size: 12px;
  }

  .all-content-team-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --each-team-member-wrapper-width: 150px;
  }

  .all-content-team-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .all-content-motto-wrapper {
    font-size: 40px;
    margin-top: -80px;
  }

  .all-content-team-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --all-content-motto-top-right-text-width: 300px;
  }

  .all-footer-title {
    font-size: 26px;
  }

  .each-motto-line {
    letter-spacing: 2px;
  }


  .all-content-team-members-wrapper {
    display: none;
  }

  .all-content-team-members-secondary-wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --all-content-motto-top-right-text-width: 250px;
    --each-team-member-wrapper-width: 160px;
  }

  .all-content-motto-wrapper {
    font-size: 36px;
    margin-top: -50px;
  }

  .all-content-motto-top-right-text {
    margin-top: -20px;
  }

  .all-content-team-members-tertiary-wrapper {
    display: flex;
  }

  .all-content-team-members-secondary-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --each-team-member-wrapper-width: 150px;
  }

  .all-content-motto-wrapper {
    font-size: 32px;
  }

  .all-content-motto-top-right-text:nth-child(even) {
    display: none;
  }

  .all-content-motto-top-right-text:nth-child(odd) {
    display: flex;
  }

  .all-content-team-title {
    font-size: 28px;
  }

  .all-content-team-text {
    font-size: 12px;
  }

  .each-event-page-close-button {
    width: 18px;
    min-width: 18px;
  }

  .each-text-small {
    font-size: 12px;
  }

  .each-text-medium {
    font-size: 14px;
  }

  .each-text-large {
    font-size: 16px;
  }

  .each-subtitle {
    font-size: 42px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --each-team-member-wrapper-width: 170px;
  }

  .all-content-motto-wrapper {
    font-size: 28px;
  }

  .all-content-team-title {
    font-size: 24px;
  }

  .all-content-team-members-quaternary-wrapper {
    display: flex;
  }

  .all-content-team-members-tertiary-wrapper {
    display: none;
  }

  .each-event-page-close-button {
    width: 16px;
    min-width: 16px;
  }
}


@media only screen and (max-width: 500px) {
  :root {
    --each-team-member-wrapper-width: 150px;
  }

  .all-content-motto-wrapper {
    font-size: 22px;
  }

  .all-content-team-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --each-team-member-wrapper-width: 136px;
  }

  .all-content-team-members-quaternary-wrapper {
    gap: calc(var(--box-padding) * 2);
  }
}