:root {
  --all-aleo-first-color: rgba(183, 183, 255, 1);
  --all-aleo-second-color: rgba(209, 104, 246, 1);
  --all-aleo-first-intro-event-type-background: rgba(1, 129, 83, 1);
}

.all-aleo-first-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
}

.all-aleo-first-emoji {
  font-size: 32px;
  margin-left: auto;
}

.all-aleo-first-intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
  margin: 0 calc(var(--box-padding) * 4);
  align-items: center;
}

.all-aleo-first-intro-title {
  font-size: 46px;
  font-weight: 600;
  background: linear-gradient(90deg, var(--all-aleo-first-color) 0%, var(--all-aleo-second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0 auto;
}

.all-aleo-first-intro-event-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--all-aleo-first-intro-event-type-background);
  color: var(--text-color);
  font-size: 14px;
  padding: 2px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-aleo-first-intro-text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color-two);
  text-align: center;
}

.all-aleo-first-intro-team-wrapper {
  display: flex;
  gap: calc(var(--box-padding) * 2);
  width: auto;
  margin: calc(var(--box-padding)) calc(var(--box-padding) * 2);
  align-items: center;
}

.each-aleo-first-intro-team-member-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) * 0.2);
  min-width: 100px;
  margin-bottom: auto;
}

.each-aleo-first-intro-team-member-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: calc(var(--box-padding) * 0.5);
}

.each-aleo-first-intro-team-member-name-button-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 0.5);
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
}

.each-aleo-first-intro-team-member-name-button-wrapper:hover>.each-aleo-first-intro-team-member-name-button-icon {
  transform: translate(2px, -2px);
}

.each-aleo-first-intro-team-member-name-button-text {
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color-two);
}

.each-aleo-first-intro-team-member-name-button-icon {
  width: 14px;
  min-width: 14px;
  height: auto;
  stroke: var(--text-color-two);
  transition: all 0.2s ease-in-out;
}

.each-aleo-first-intro-team-member-title {
  font-size: 14px;
  color: var(--text-color-three);
}

.all-aleo-first-bottom-wrapper {
  display: flex;
  align-items: bottom;
  gap: calc(var(--box-padding) / 4);
  margin-right: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}

.all-aleo-first-bottom-text {
  font-size: 14px;
  color: var(--text-color);
}

.all-aleo-first-bottom-icon {
  width: 14px;
  min-width: 14px;
  height: auto;
  stroke: var(--text-color);
}

.all-aleo-second-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 2);
  margin-top: calc(var(--box-padding) * 3);
}

.all-aleo-second-left-wrapper {
  width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
}

.all-aleo-second-left-title {
  font-size: 38px;
  color: var(--text-color);
  margin: calc(var(--box-padding)) 0;
}

.all-aleo-second-stats-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: calc(var(--box-padding) * 2);
  background: linear-gradient(90deg, var(--all-aleo-first-color) 0%, var(--all-aleo-second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.each-aleo-first-left-event-stats {
  display: flex;
  flex-direction: column;
}

.each-aleo-first-left-event-stats-number {
  font-size: 32px;
}

.each-aleo-first-left-event-stats-text {
  font-size: 16px;
}

.all-aleo-second-left-text {
  color: var(--text-color-two);
  font-size: 18px;
  line-height: 1.6;
}

.all-aleo-second-left-logo {
  width: 120px;
  min-width: 120px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: calc(var(--box-padding) * 2);
}

.all-aleo-second-right-wrapper {
  width: auto;
  min-width: auto;
  display: flex;
  flex-direction: column;
}

.all-aleo-second-right-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.all-aleo-third-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 2);
  margin-top: calc(var(--box-padding) * 3);
}

.all-aleo-third-left-wrapper {
  width: 360px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
}

.all-aleo-third-left-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.all-aleo-third-right-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  margin-top: calc(var(--box-padding) * 2);
}

.all-aleo-third-right-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  background: linear-gradient(90deg, var(--all-aleo-first-color) 0%, var(--all-aleo-second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.all-aleo-third-right-text {
  color: var(--text-color-three);
  font-size: 16px;
  line-height: 1.5;
}

.all-aleo-third-right-inner-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  margin: calc(var(--box-padding) * 2) auto;
}

.all-aleo-third-right-inner-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.all-aleo-third-right-inner-text {
  color: var(--text-color-three);
  font-size: 16px;
  line-height: 1.5;
}

.all-aleo-fourth-wrapper {
  display: flex;
  gap: calc(var(--box-padding) * 1.5);
  margin-top: calc(var(--box-padding) * 3);
}

.all-aleo-fourth-left-wrapper {
  width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--box-padding);
  justify-content: center;
}

.all-aleo-fourth-left-title {
  font-size: 32px;
  background: linear-gradient(90deg, var(--all-aleo-first-color) 0%, var(--all-aleo-second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.all-aleo-fourth-left-text {
  color: var(--text-color-three);
  font-size: 14px;
  line-height: 1.5;
}

.all-aleo-fourth-left-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.all-aleo-fourth-right-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
}

.all-aleo-fourth-right-top-image {
  width: 80%;
  min-width: 80%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
}

.all-aleo-fourth-right-bottom-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.all-aleo-fourth-right-text {
  width: 85%;
  color: var(--text-color-three);
  font-size: 14px;
  line-height: 1.5;
}

.all-aleo-fifth-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  margin-top: calc(var(--box-padding) * 3);
}

.all-aleo-fifth-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 32px;
  background: linear-gradient(90deg, var(--all-aleo-first-color) 0%, var(--all-aleo-second-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.all-aleo-fifth-text {
  width: 50%;
  color: var(--text-color-three);
  font-size: 14px;
  line-height: 1.6;
}

.all-aleo-fifth-top-image {
  width: 80%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
}

.all-aleo-fifth-bottom-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: calc(var(--box-padding) * 2);
}

.all-aleo-footer-wrapper {
  width: 40%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: calc(var(--box-padding) * 3);
}

.each-aleo-footer-left-button {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.72px;
  padding-right: calc(var(--box-padding));
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.each-aleo-footer-left-button:hover+.each-aleo-footer-left-button-border-bottom {
  height: 3px;
  min-height: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.each-aleo-footer-left-button:hover>.each-aleo-footer-left-button-icon {
  transform: translate(2px, -2px);
}

.each-aleo-footer-left-button-icon {
  display: flex;
  width: 16px;
  min-width: 16px;
  height: auto;
  stroke: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.each-aleo-footer-left-button-border-bottom {
  display: flex;
  width: 100%;
  height: 1px;
  min-height: 1px;
  border: none;
  background: var(--all-aleo-first-color);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1700px) {
  .all-aleo-third-left-wrapper {
    width: 320px;
    min-width: 320px;
  }
}

@media only screen and (max-width: 1500px) {
  .all-aleo-second-left-wrapper {
    width: 540px;
    min-width: 540px;
  }

  .all-aleo-third-left-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-aleo-fourth-left-wrapper {
    width: 500px;
    min-width: 500px;
  }

  .all-aleo-fifth-text {
    width: 600px;
    min-width: 600px;
  }
}

@media only screen and (max-width: 1300px) {
  .all-aleo-first-intro-text {
    font-size: 16px;
  }

  .all-aleo-first-intro-wrapper {
    margin: 0 calc(var(--box-padding) * 2);
  }

  .all-aleo-second-left-wrapper {
    width: 440px;
    min-width: 440px;
  }

  .all-aleo-second-left-title {
    font-size: 36px;
  }

  .all-aleo-second-left-text {
    font-size: 16px;
  }

  .all-aleo-third-left-wrapper {
    width: 260px;
    min-width: 260px;
  }

  .all-aleo-third-right-inner-text {
    font-size: 14px;
  }

  .all-aleo-fourth-left-wrapper {
    width: 420px;
    min-width: 420px;
  }
}

@media only screen and (max-width: 1200px) {

  .all-aleo-first-intro-team-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .all-aleo-second-left-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-aleo-second-left-logo {
    width: 100px;
    min-width: 100px;
  }

  .all-aleo-second-left-title {
    font-size: 34px;
  }

  .each-aleo-first-left-event-stats-number {
    font-size: 28px;
  }

  .each-aleo-first-left-event-stats-text {
    font-size: 14px;
  }

  .all-aleo-second-left-text {
    font-size: 14px;
  }

  .all-aleo-third-left-wrapper {
    width: 220px;
    min-width: 220px;
  }

  .all-aleo-third-right-title {
    font-size: 34px;
  }

  .all-aleo-third-right-text {
    font-size: 14px;
  }

  .all-aleo-third-right-inner-wrapper {
    margin: calc(var(--box-padding)) auto;
  }

  .all-aleo-fourth-left-wrapper {
    width: 380px;
    min-width: 380px;
  }

  .each-aleo-footer-left-button {
    font-size: 16px;
  }

  .each-aleo-footer-left-button-icon {
    width: 14px;
    min-width: 14px;
  }
}

@media only screen and (max-width: 1100px) {
  .all-aleo-first-intro-title {
    font-size: 38px;
  }

  .all-aleo-first-intro-text {
    font-size: 14px;
  }

  .all-aleo-first-intro-team-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-aleo-second-left-title {
    font-size: 32px;
  }

  .all-aleo-second-left-wrapper {
    width: 360px;
    min-width: 360px;
  }

  .all-aleo-third-left-wrapper {
    width: 180px;
    min-width: 180px;
  }

  .all-aleo-fourth-left-wrapper {
    width: 340px;
    min-width: 340px;
  }

  .all-aleo-footer-wrapper {
    width: 360px;
    min-width: 360px;
  }

  .all-aleo-fifth-text {
    width: 540px;
    min-width: 540px;
  }

  .all-aleo-footer-wrapper {
    width: 320px;
  }
}

@media only screen and (max-width: 1000px) {
  .each-aleo-first-intro-team-member-name-button-text {
    font-size: 16px;
  }

  .each-aleo-first-intro-team-member-title {
    font-size: 12px;
  }

  .all-aleo-second-left-wrapper {
    width: 320px;
    min-width: 320px;
  }

  .all-aleo-second-left-title {
    font-size: 28px;
  }

  .all-aleo-second-right-wrapper {
    justify-content: center;
  }

  .all-aleo-third-left-wrapper {
    width: 160px;
    min-width: 160px;
  }

  .all-aleo-fourth-left-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-aleo-third-right-title {
    font-size: 30px;
  }

  .all-aleo-fourth-left-title {
    font-size: 28px;
  }

  .all-aleo-fifth-title {
    font-size: 28px;
  }

  .all-aleo-fifth-text {
    width: 500px;
    min-width: 500px;
  }

  .all-aleo-footer-wrapper {
    width: 300px;
    min-width: 300px;
  }
}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 800px) {
  .all-aleo-first-intro-title {
    font-size: 34px;
  }

  .all-aleo-first-intro-wrapper {
    margin: 0;
  }

  .each-aleo-first-intro-team-member-name-button-text {
    font-size: 14px;
  }

  .all-aleo-second-right-wrapper {
    display: none;
  }

  .all-aleo-second-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-aleo-third-left-wrapper {
    width: 140px;
    min-width: 140px;
  }

  .all-aleo-third-right-inner-wrapper {
    margin: calc(var(--box-padding)) 0;
    width: 100%;
    min-width: 100%;
  }

  .all-aleo-fourth-wrapper {
    flex-direction: column;
  }

  .all-aleo-fourth-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-aleo-fourth-right-top-image {
    display: none;
  }

  .all-aleo-fourth-right-bottom-image {
    width: 80%;
    min-width: 80%;
    margin-left: auto;
  }

  .all-aleo-fifth-text {
    width: 100%;
    min-width: 100%;
  }

  .all-aleo-footer-wrapper {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .all-aleo-first-intro-title {
    font-size: 30px;
  }

  .all-aleo-first-intro-team-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding));
    width: 100%;
    min-width: 100%;
  }

  .each-aleo-first-intro-team-member-wrapper {
    width: 220px;
    min-width: 220px;
  }

  .each-aleo-first-intro-team-member-wrapper:nth-child(odd) {
    margin-right: auto;
  }

  .each-aleo-first-intro-team-member-wrapper:nth-child(even) {
    margin-left: auto;
  }

  .all-aleo-third-wrapper {
    flex-direction: column;
    margin-top: calc(var(--box-padding) * -2);
    gap: 0;
  }
}

@media only screen and (max-width: 600px) {
  .all-aleo-first-intro-title {
    font-size: 24px;
  }

  .each-aleo-first-intro-team-member-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-aleo-second-left-title {
    font-size: 24px;
  }

  .all-aleo-second-left-logo {
    width: 80px;
    min-width: 80px;
  }

  .all-aleo-third-right-title {
    font-size: 24px;
  }

  .all-aleo-fourth-left-title {
    font-size: 24px;
  }

  .all-aleo-fifth-title {
    font-size: 24px;
  }

  .all-aleo-fifth-bottom-image {
    margin-top: 0;
  }

  .all-aleo-first-intro-event-type {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .all-aleo-first-intro-title {
    text-align: center;
  }

  .each-aleo-first-intro-team-member-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-aleo-second-stats-wrapper {
    gap: calc(var(--box-padding));
  }

  .each-aleo-first-left-event-stats-text {
    font-size: 12px;
  }

  .all-aleo-third-left-wrapper {
    width: 100px;
    min-width: 100px;
  }

  .all-aleo-third-right-title {
    font-size: 20px;
  }

  .all-aleo-fourth-left-title {
    font-size: 20px;
  }

  .all-aleo-fifth-title {
    font-size: 20px;
  }

  .all-aleo-fourth-right-bottom-image {
    margin: 0;
    width: 100%;
    min-width: 100%;
  }

  .all-aleo-fifth-top-image {
    margin: 0;
    width: 100%;
    min-width: 100%;
  }

  .each-aleo-footer-left-button {
    font-size: 12px;
  }

  .each-aleo-footer-left-button-icon {
    width: 12px;
    min-width: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .all-aleo-first-emoji {
    font-size: 20px;
  }

  .all-aleo-first-intro-title {
    font-size: 20px;
  }

  .all-aleo-second-left-title {
    font-size: 20px;
    word-wrap: break-word;
  }

  .all-aleo-second-stats-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) / 2);
  }

  .all-aleo-third-wrapper {
    margin-top: calc(var(--box-padding) * -1);
  }

  .all-aleo-fourth-left-title {
    word-wrap: break-word;
  }

  .each-aleo-footer-left-button {
    padding-right: 0;
  }
}