:root {
  --all-cryptist-title-animation-duration: 2s;

  --all-cryptist-first-left-event-type-background: rgba(255, 112, 17, 1);

  --all-cryptist-fifth-left-top-text-span-color: rgba(183, 183, 255, 1);

  --all-cryptist-sixth-left-text-span-color: rgba(184, 234, 144, 1);

  --all-cryptist-seventh-left-text-span-color: rgba(255, 157, 157, 1);
  --all-cryptist-seventh-right-text-span-color: rgba(167, 167, 255, 1);

  --all-cryptist-eighth-right-text-span-color: rgba(183, 183, 255, 1);

  --all-cryptist-ninth-left-text-span-color: rgba(97, 214, 214, 1);
  --all-cryptist-ninth-right-text-span-color: rgba(255, 253, 195, 1);

  --all-cryptist-eleventh-right-location-color: rgba(158, 240, 240, 1);

  --each-cryptist-footer-button-border-bottom-color: rgba(158, 240, 240, 1);
}

.all-cryptist-first-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--box-padding);
  margin-bottom: calc(var(--box-padding) / 2);
}

.all-cryptist-first-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--box-padding);
  z-index: 105;
  width: auto;
}

.all-cryptist-first-left-title {
  color: var(--text-color);
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 5.28px;
  background: linear-gradient(123deg, #FFF 0%, rgba(158, 240, 240, 0.85) 71.35%, #FFF 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation: cryptistFirstLeftTitleAnimation var(--all-cryptist-title-animation-duration) ease-in-out infinite alternate;
  animation: cryptistFirstLeftTitleAnimation var(--all-cryptist-title-animation-duration) ease-in-out infinite alternate;
}

@-webkit-keyframes cryptistFirstLeftTitleAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes cryptistFirstLeftTitleAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#cryptist-slider-text::after {
  display: inline-block;
  background: linear-gradient(123deg, #FFF 0%, rgba(158, 240, 240, 0.85) 71.35%, #FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: cryptistFirstLeftTitleAnimation var(--all-cryptist-title-animation-duration) ease-in-out infinite alternate;
  animation: cryptistFirstLeftTitleAnimation var(--all-cryptist-title-animation-duration) ease-in-out infinite alternate;
}

.all-cryptist-first-left-event-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--all-cryptist-first-left-event-type-background);
  color: var(--text-color);
  padding: 2px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-cryptist-first-left-event-stats-wrapper {
  display: flex;
  gap: calc(var(--box-padding) / 2);
}

.each-cryptist-first-left-event-stats {
  display: flex;
  flex-direction: column;
}

.each-cryptist-first-left-event-stats-number {
  color: var(--third-color);
  font-size: 32px;
}

.all-cryptist-first-right-wrapper {
  display: flex;
  align-items: center;
  width: 800px;
  min-width: 800px;
}

.all-cryptist-first-right-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-second-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--box-padding);
}

.all-cryptist-second-left-wrapper {
  margin-right: auto;
}

.all-cryptist-second-middle-wrapper {
  width: 300px;
  min-width: 300px;
}

.all-cryptist-second-middle-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-second-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) / 2);
  width: 600px;
  min-width: 600px;
}

.all-cryptist-second-right-button {
  margin-left: auto;
}

.all-cryptist-second-right-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-third-wrapper {
  position: relative;
  top: calc(var(--box-padding) * -2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: var(--box-padding);
}

.all-cryptist-third-emoji {
  width: 200px;
  min-width: 200px;
  height: auto;
}

.all-cryptist-third-text {
  width: 900px;
  min-width: 900px;
}

.all-cryptist-sponsors-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
  gap: calc(var(--box-padding));
  overflow: hidden;
}

.each-cryptist-sponsor {
  -o-object-fit: contain;
  object-fit: contain;
  width: auto;
  max-width: 140px;
}

.all-cryptist-sponsors-secondary-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  gap: calc(var(--box-padding));
  overflow: hidden;
}

.each-cryptist-sponsors-secondary-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  gap: calc(var(--box-padding));
}

.all-cryptist-fourth-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-fourth-top-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: calc(var(--box-padding));
  margin-top: calc(var(--box-padding) * 5);
}

.all-cryptist-fourth-top-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
}

.all-cryptist-fourth-top-left-title {
  width: auto;
  background: linear-gradient(90deg, rgba(217, 217, 217, 1) 0%, rgba(111, 219, 238, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.all-cryptist-fourth-top-left-text {
  width: auto;
}

.all-cryptist-fourth-top-right-logo {
  position: relative;
  top: calc(var(--box-padding) * 2);
  width: 76px;
  min-width: 76px;
  height: auto;
  margin-top: auto;
}

.all-cryptist-fourth-top-right-image {
  position: relative;
  top: 100px;
  width: 400px;
  min-width: 400px;
  height: auto;
  margin-top: auto;
  overflow: hidden;
}

.all-cryptist-fourth-bottom-wrapper {
  display: flex;
  justify-content: right;
  width: 100%;
  gap: calc(var(--box-padding));
}

.all-cryptist-fourth-bottom-left-image {
  width: 700px;
  min-width: 700px;
  height: auto;
  align-self: flex-end;
  overflow: hidden;
}

.all-cryptist-fourth-bottom-right-image {
  width: 640px;
  min-width: 640px;
  height: auto;
  align-self: flex-end;
  overflow: hidden;
}

.all-cryptist-fifth-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding));
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-fifth-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
  min-width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-fifth-left-top-button {
  margin-left: auto;
  margin-top: calc(var(--box-padding) * 6);
}

.all-cryptist-fifth-left-top-text span {
  color: var(--all-cryptist-fifth-left-top-text-span-color);
  font-weight: 600;
}

.all-cryptist-fifth-left-top-second-button {
  margin-bottom: calc(var(--box-padding) * 6);
  margin-right: auto;
}

.all-cryptist-fifth-left-middle-wrapper {
  display: flex;
  gap: calc(var(--box-padding));
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-fifth-left-middle-image {
  width: 400px;
  min-width: 400px;
  height: auto;
  overflow: hidden;
}

.all-cryptist-fifth-left-middle-quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) / 2);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  margin: auto 0;
}

.all-cryptist-fifth-left-middle-author {
  margin-left: auto;
}

.all-cryptist-fifth-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: calc(var(--box-padding) * 2);
}

.all-cryptist-fifth-right-top-image {
  width: 400px;
  min-width: 400px;
  height: auto;
  overflow: hidden;
}

.all-cryptist-fifth-right-logo {
  width: 160px;
  min-width: 160px;
  height: auto;
  margin-left: auto;
  margin-bottom: calc(var(--box-padding) * 6);
}

.all-cryptist-fifth-right-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.all-cryptist-sixth-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding));
  width: 100%;
  margin-top: 240px;
}

.all-cryptist-sixth-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) / 2);
  width: auto;
  min-width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-sixth-left-text span {
  color: var(--all-cryptist-sixth-left-text-span-color);
  font-weight: 600;
}

.all-cryptist-sixth-left-button {
  margin-right: auto;
}

.all-cryptist-sixth-right-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) / 2);
  top: calc(var(--box-padding) * -8);
  width: 400px;
  min-width: 400px;
}

.all-cryptist-sixth-right-button {
  margin-right: auto;
}

.all-cryptist-sixth-right-bottom-image {
  width: 100%;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-seventh-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding));
  width: 100%;
}

.all-cryptist-seventh-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 600px;
  min-width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-seventh-left-text span {
  color: var(--all-cryptist-seventh-left-text-span-color);
  font-weight: 600;
}

.all-cryptist-seventh-left-button {
  margin-left: auto;
}

.all-cryptist-seventh-left-image {
  width: 100%;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-seventh-left-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.all-cryptist-seventh-left-bottom-logo {
  width: 160px;
  min-width: 160px;
  height: auto;
}

.all-cryptist-seventh-left-bottom-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.all-cryptist-seventh-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 500px;
  min-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-seventh-right-top-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.all-cryptist-seventh-right-top-logo {
  width: 160px;
  min-width: 160px;
  height: auto;
}

.all-cryptist-seventh-right-top-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.all-cryptist-seventh-right-image {
  width: 100%;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-seventh-right-text span {
  color: var(--all-cryptist-seventh-right-text-span-color);
  font-weight: 600;
}

.all-cryptist-seventh-right-button {
  margin-right: auto;
}

.all-cryptist-eighth-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding) * 2);
  width: 100%;
  margin-top: calc(var(--box-padding) * 4);
}

.all-cryptist-eighth-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 500px;
  min-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-eighth-left-button {
  margin-right: auto;
}

.all-cryptist-eighth-left-image {
  width: 100%;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-eighth-left-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.all-cryptist-eighth-left-bottom-logo {
  width: 160px;
  min-width: 160px;
  height: auto;
}

.all-cryptist-eighth-left-bottom-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.all-cryptist-eighth-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
  min-width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: calc(var(--box-padding) * 4);
}

.all-cryptist-eighth-right-text span {
  color: var(--all-cryptist-eighth-right-text-span-color);
  font-weight: 600;
}

.all-cryptist-eighth-right-quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) / 2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.all-cryptist-eighth-right-quote {
  text-align: right;
}

.all-cryptist-eighth-right-quote-author {
  text-align: right;
}

.all-cryptist-eighth-right-image {
  width: 580px;
  min-width: 580px;
  height: auto;
  margin-left: auto;
  overflow: hidden;
}

.all-cryptist-ninth-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding) * 2);
  width: 100%;
  margin-top: calc(var(--box-padding) * 4);
}

.all-cryptist-ninth-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 500px;
  min-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-ninth-left-button {
  margin-right: auto;
}

.all-cryptist-ninth-left-image {
  width: 100%;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.all-cryptist-ninth-left-text span {
  color: var(--all-cryptist-ninth-left-text-span-color);
  font-weight: 600;
}

.all-cryptist-ninth-left-bottom-wrapper {
  display: flex;
  width: 100%;
}

.all-cryptist-ninth-left-bottom-button {
  margin-right: auto;
}

.all-cryptist-ninth-left-bottom-logo {
  width: 120px;
  min-width: 120px;
  height: auto;
  margin-left: auto;
}

.all-cryptist-ninth-left-bottom-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.all-cryptist-ninth-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
  min-width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-ninth-right-text span {
  color: var(--all-cryptist-ninth-right-text-span-color);
  font-weight: 600;
}

.all-cryptist-ninth-right-middle-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding));
  width: 440px;
  min-width: 440px;
  margin-left: auto;
}

.all-cryptist-ninth-right-middle-logo {
  width: 140px;
  min-width: 140px;
  height: auto;
}

.all-cryptist-ninth-right-middle-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.all-cryptist-ninth-right-middle-button {
  margin-top: auto;
}

.all-cryptist-ninth-right-image {
  width: 440px;
  min-width: 440px;
  height: auto;
  margin-left: auto;
  overflow: hidden;
}

.all-cryptist-tenth-wrapper {
  display: flex;
  gap: calc(var(--box-padding) * 2);
  width: 100%;
  margin-top: calc(var(--box-padding) * 4);
}

.all-cryptist-tenth-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 640px;
  min-width: 640px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-tenth-left-image {
  width: 460px;
  min-width: 460px;
  height: auto;
  margin-left: auto;
  overflow: hidden;
}

.all-cryptist-tenth-left-title {
  background: linear-gradient(90deg, #39A1FF 0%, #23C4C1 14.28%, #39A1FF 43.04%, #F268BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-cryptist-tenth-left-location-wrapper {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: calc(var(--box-padding) / 2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-tenth-left-location-icon {
  fill: var(--text-color);
  width: 17px;
  min-width: 17px;
  height: auto;
}

.all-cryptist-tenth-right-wrapper {
  width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
  min-width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-tenth-right-image {
  width: 400px;
  min-width: 400px;
  height: auto;
  margin-right: auto;
  overflow: hidden;
}

.all-cryptist-tenth-right-second-image {
  width: 100%;
  min-width: 100%;
  height: auto;
  margin-right: auto;
  overflow: hidden;
}

.all-cryptist-eleventh-wrapper {
  display: flex;
  gap: calc(var(--box-padding) * 2);
  width: 100%;
  margin-top: calc(var(--box-padding) * 4);
}

.all-cryptist-eleventh-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: 440px;
  min-width: 440px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-eleventh-image-top {
  height: 340px;
  min-height: 340px;
  width: auto;
  margin-left: auto;
  overflow: hidden;
}

.all-cryptist-eleventh-image-bottom {
  width: 250px;
  min-width: 250px;
  height: auto;
  margin-left: auto;
  overflow: hidden;
}

.all-cryptist-eleventh-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  width: auto;
  min-width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.all-cryptist-eleventh-right-image {
  height: 340px;
  min-height: 340px;
  width: auto;
  margin-right: auto;
  overflow: hidden;
}

.all-cryptist-eleventh-right-title {
  color: var(--text-color);
}

.all-cryptist-eleventh-right-text {
  margin-bottom: calc(var(--box-padding) * 3);
}

.all-cryptist-eleventh-right-location-wrapper {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: calc(var(--box-padding) / 2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
}

.all-cryptist-eleventh-right-location-icon {
  fill: var(--all-cryptist-eleventh-right-location-color);
  width: 17px;
  min-width: 17px;
  height: auto;
}

.all-cryptist-eleventh-right-location-text {
  color: var(--all-cryptist-eleventh-right-location-color);
}

.all-cryptist-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--box-padding) * 2);
  margin-top: calc(var(--box-padding) * 4);
  width: 100%;
}

.all-cryptist-footer-title {
  background: linear-gradient(90deg, rgba(217, 217, 217, 1) 0%, rgba(111, 219, 238, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.all-cryptist-footer-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--box-padding) * 2);
  width: 100%;
}

.each-cryptist-footer-button-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.each-cryptist-footer-button {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.72px;
  padding-right: 18px;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.each-cryptist-footer-button:hover+.each-cryptist-footer-button-border-bottom {
  height: 3px;
  min-height: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.each-cryptist-footer-button:hover>.each-cryptist-footer-button-icon {
  transform: translate(2px, -2px);
}

.each-cryptist-footer-button-icon {
  display: flex;
  width: 21px;
  min-width: 21px;
  height: auto;
  stroke: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.each-cryptist-footer-button-border-bottom {
  display: flex;
  width: 100%;
  height: 1px;
  min-height: 1px;
  border: none;
  background: var(--each-cryptist-footer-button-border-bottom-color);
  transition: all 0.2s ease-in-out;
}

.each-cryptist-footer-button-secondary-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
}

@media only screen and (max-width: 1700px) {
  .all-cryptist-first-right-wrapper {
    width: 700px;
    min-width: 700px;
  }

  .all-cryptist-second-middle-wrapper {
    width: 250px;
    min-width: 250px;
  }

  .all-cryptist-second-right-wrapper {
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-fourth-top-right-logo {
    width: 60px;
    height: auto;
  }

  .all-cryptist-fourth-top-right-image {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 600px;
    min-width: 600px;
  }

  .all-cryptist-fourth-bottom-right-image {
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-fifth-right-top-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-seventh-left-wrapper {
    width: 520px;
    min-width: 520px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 440px;
    min-width: 440px;
  }
}

@media only screen and (max-width: 1500px) {
  .all-cryptist-first-right-wrapper {
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-second-middle-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-second-right-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .each-cryptist-sponsor {
    max-width: 116px;
  }

  .all-cryptist-fourth-top-right-logo {
    width: 50px;
    height: auto;
  }

  .all-cryptist-fourth-top-right-image {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-fourth-bottom-right-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-fifth-right-top-image {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-fifth-left-middle-image {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-sixth-right-wrapper {
    width: 350px;
    min-width: 350px;
  }

  .all-cryptist-seventh-left-wrapper {
    width: 450px;
    min-width: 450px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 380px;
    min-width: 380px;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-eighth-right-image {
    width: 450px;
    min-width: 450px;
  }

  .all-cryptist-fifth-right-logo {
    width: 120px;
    min-width: 120px;
  }

  .all-cryptist-seventh-right-top-logo {
    width: 120px;
    min-width: 120px;
  }

  .all-cryptist-seventh-left-bottom-logo {
    width: 120px;
    min-width: 120px;
  }

  .all-cryptist-eighth-left-bottom-logo {
    width: 120px;
    min-width: 120px;
  }

  .all-cryptist-ninth-left-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-ninth-right-middle-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-ninth-right-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-tenth-left-wrapper {
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-tenth-left-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-tenth-right-image {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-eleventh-left-wrapper {
    width: 380px;
    min-width: 380px;
  }

  .all-cryptist-eleventh-image-top {
    height: 270px;
    min-height: 270px;
  }

  .all-cryptist-eleventh-right-image {
    height: 270px;
    min-height: 270px;
  }

  .all-cryptist-eleventh-image-bottom {
    width: 200px;
    min-width: 200px;
  }
}

@media only screen and (max-width: 1300px) {
  .all-cryptist-first-right-wrapper {
    width: 450px;
    min-width: 450px;
  }

  .each-cryptist-sponsor {
    width: 96px;
    min-width: 96px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-fourth-bottom-right-image {
    width: 350px;
    min-width: 350px;
  }

  .all-cryptist-fourth-bottom-wrapper {
    margin-top: 40px;
  }

  .all-cryptist-fifth-left-middle-image {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-fifth-left-top-second-button {
    margin-bottom: calc(var(--box-padding) * 3);
  }

  .all-cryptist-seventh-left-wrapper {
    width: 390px;
    min-width: 390px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 330px;
    min-width: 330px;
  }

  .all-cryptist-seventh-right-top-logo {
    width: 100px;
    min-width: 100px;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 350px;
    min-width: 350px;
  }

  .all-cryptist-eighth-right-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-ninth-left-wrapper {
    width: 360px;
    min-width: 360px;
  }

  .all-cryptist-ninth-right-middle-wrapper {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-ninth-right-image {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-ninth-left-bottom-logo {
    width: 90px;
    min-width: 90px;
  }

  .all-cryptist-tenth-left-wrapper {
    width: 440px;
    min-width: 440px;
  }

  .all-cryptist-tenth-left-image {
    width: 330px;
    min-width: 330px;
  }

  .all-cryptist-tenth-right-image {
    width: 280px;
    min-width: 280px;
  }

  .all-cryptist-eleventh-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-cryptist-eleventh-left-wrapper {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-eleventh-image-top {
    height: 250px;
    min-height: 250px;
  }

  .all-cryptist-eleventh-right-image {
    height: 250px;
    min-height: 250px;
  }

  .all-cryptist-eleventh-image-bottom {
    width: 180px;
    min-width: 180px;
  }
}

@media only screen and (max-width: 1200px) {
  .all-cryptist-first-wrapper {
    flex-direction: column;
  }

  .all-cryptist-first-right-wrapper {
    display: none;
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-sponsors-wrapper {
    display: none;
  }

  .all-cryptist-sponsors-secondary-wrapper {
    display: flex;
  }

  .each-cryptist-sponsor {
    width: 120px;
    min-width: 120px;
  }

  .all-cryptist-second-right-wrapper {
    width: 500px;
    min-width: 500px;
  }

  .all-cryptist-second-middle-wrapper {
    display: none;
  }

  .all-cryptist-third-text {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-fourth-top-right-logo {
    width: 40px;
    height: auto;
  }

  .all-cryptist-fourth-top-right-image {
    width: 180px;
    min-width: 180px;
    top: 120px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-fourth-bottom-right-image {
    width: 320px;
    min-width: 320px;
  }

  .all-cryptist-fifth-right-top-image {
    width: 250px;
    min-width: 250px;
  }

  .all-cryptist-fifth-left-middle-image {
    width: 260px;
    min-width: 260px;
  }

  .all-cryptist-sixth-wrapper {
    margin-top: 240px;
  }

  .all-cryptist-sixth-right-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-seventh-left-wrapper {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 280px;
    min-width: 280px;
  }

  .all-cryptist-seventh-right-top-logo {
    width: 80px;
    min-width: 80px;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-eighth-right-image {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-ninth-left-wrapper {
    width: 310px;
    min-width: 310px;
  }

  .all-cryptist-ninth-right-middle-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-ninth-right-image {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-ninth-right-middle-logo {
    width: 110px;
    min-width: 110px;
  }

  .all-cryptist-tenth-right-image {
    width: 250px;
    min-width: 250px;
  }

  .all-cryptist-eleventh-left-wrapper {
    width: 270px;
    min-width: 270px;
  }

  .all-cryptist-eleventh-image-top {
    height: 210px;
    min-height: 210px;
  }

  .all-cryptist-eleventh-right-image {
    height: 210px;
    min-height: 210px;
  }

  .all-cryptist-eleventh-image-bottom {
    width: 150px;
    min-width: 150px;
  }
}

@media only screen and (max-width: 1100px) {
  .all-cryptist-fourth-top-right-image {
    display: none;
    top: 112px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 350px;
    min-width: 350px;
  }

  .all-cryptist-fourth-bottom-right-image {
    width: 280px;
    min-width: 280px;
  }

  .all-cryptist-fifth-right-top-image {
    width: 220px;
    min-width: 220px;
  }

  .all-cryptist-fifth-left-middle-image {
    width: 220px;
    min-width: 220px;
  }

  .all-cryptist-sixth-right-wrapper {
    width: 250px;
    min-width: 250px;
    margin-top: calc(var(--box-padding) * 3);
  }

  .all-cryptist-seventh-left-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 250px;
    min-width: 250px;
  }

  .all-cryptist-seventh-right-top-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding));
  }

  .all-cryptist-seventh-right-top-button {
    margin-right: auto;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 260px;
    min-width: 260px;
  }

  .all-cryptist-eighth-right-image {
    width: 320px;
    min-width: 320px;
  }

  .all-cryptist-eighth-right-wrapper {
    margin-top: calc(var(--box-padding) * 2);
  }

  .all-cryptist-ninth-left-wrapper {
    width: 270px;
    min-width: 270px;
  }

  .all-cryptist-ninth-right-middle-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) / 2);
    width: 260px;
    min-width: 260px;
  }

  .all-cryptist-ninth-right-image {
    width: 260px;
    min-width: 260px;
  }

  .all-cryptist-ninth-right-middle-logo {
    width: 100px;
    min-width: 100px;
  }

  .all-cryptist-ninth-left-bottom-logo {
    margin-top: calc(var(--box-padding) * -1);
  }

  .all-cryptist-ninth-right-middle-button {
    margin-left: auto;
  }

  .all-cryptist-tenth-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-tenth-left-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-tenth-right-image {
    display: none !important;
  }

  .all-cryptist-tenth-left-location-wrapper {
    font-size: 16px;
  }

  .all-cryptist-tenth-wrapper {
    flex-direction: column;
  }

  .all-cryptist-tenth-right-wrapper {
    width: 600px;
    min-width: 600px;
  }

  .all-cryptist-eleventh-left-wrapper {
    width: 220px;
    min-width: 220px;
  }

  .all-cryptist-eleventh-right-text {
    margin-bottom: calc(var(--box-padding));
  }

  .each-cryptist-footer-button {
    font-size: 16px;
  }

  .each-cryptist-footer-button-icon {
    width: 18px;
    min-width: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .each-cryptist-sponsor {
    width: 100px;
    min-width: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .all-cryptist-second-right-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-fourth-bottom-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-cryptist-fourth-top-right-image {
    display: none !important;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 600px;
    min-width: 600px;
    margin-left: auto;
  }

  .all-cryptist-fourth-bottom-right-image {
    display: none !important;
  }

  .all-cryptist-fourth-top-right-logo {
    margin-top: 0;
  }

  .all-cryptist-fifth-right-logo {
    width: 100px;
    min-width: 100px;
  }

  .all-cryptist-fifth-left-middle-wrapper {
    flex-direction: column;
  }

  .all-cryptist-fifth-left-middle-image {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-seventh-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 3);
  }

  .all-cryptist-seventh-left-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 400px;
    min-width: 400px;
    margin-left: auto;
  }

  .all-cryptist-seventh-right-top-logo {
    margin-left: auto;
  }

  .all-cryptist-eighth-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-eighth-right-image {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-ninth-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 4);
  }

  .all-cryptist-ninth-left-wrapper {
    width: 440px;
    min-width: 440px;
  }

  .all-cryptist-ninth-left-bottom-logo {
    margin: 0;
  }

  .all-cryptist-ninth-right-middle-wrapper {
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-ninth-right-image {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-ninth-right-middle-logo {
    margin-left: auto;
  }

  .all-cryptist-tenth-left-image {
    width: 80%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .all-cryptist-tenth-right-second-image {
    width: 80%;
    min-width: 80%;
    margin: 0;
    margin-left: auto;
  }

  .all-cryptist-eleventh-left-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-eleventh-image-top {
    height: 180px;
    min-height: 180px;
  }

  .all-cryptist-eleventh-right-image {
    height: 180px;
    min-height: 180px;
  }

  .all-cryptist-eleventh-image-bottom {
    width: 140px;
    min-width: 140px;
  }
}

@media only screen and (max-width: 800px) {
  .all-cryptist-third-emoji {
    width: 160px;
    min-width: 160px;
  }

  .all-cryptist-second-right-wrapper {
    width: 340px;
    min-width: 340px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-fourth-top-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-cryptist-fourth-top-right-logo {
    top: 0;
    margin-left: auto;
  }

  .all-cryptist-fifth-right-logo {
    margin: 0;
  }

  .all-cryptist-fifth-wrapper {
    margin: 0;
    margin-top: calc(var(--box-padding) * 3);
    flex-direction: column-reverse;
    gap: calc(var(--box-padding) * 2);
  }

  .all-cryptist-fifth-left-top-button {
    margin: 0;
    margin-left: auto;
  }

  .all-cryptist-fifth-right-wrapper {
    margin-left: auto;
  }

  .all-cryptist-seventh-left-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-ninth-left-wrapper {
    width: 360px;
    min-width: 360px;
  }

  .all-cryptist-tenth-left-image {
    margin-left: 0;
  }

  .all-cryptist-tenth-right-wrapper {
    margin-left: auto;
    width: 400px;
    min-width: 400px;
  }

  .all-cryptist-tenth-right-second-image {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-eleventh-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-cryptist-eleventh-left-wrapper {
    display: none !important;
  }

  .all-cryptist-eleventh-image-bottom {
    display: none !important;
  }

  .all-cryptist-eleventh-image-top {
    display: none !important;
  }

  .all-cryptist-eleventh-right-image {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
  }
}

@media only screen and (max-width: 700px) {
  .all-cryptist-second-left-wrapper {
    display: none;
  }

  .all-cryptist-second-right-wrapper {
    margin-bottom: 60px;
    margin-left: auto;
  }

  .each-cryptist-sponsor {
    width: 80px;
    min-width: 80px;
  }

  .all-cryptist-fourth-bottom-wrapper {
    margin-top: calc(var(--box-padding) * 2);
  }

  .all-cryptist-fifth-right-wrapper {
    margin: 0;
  }

  .all-cryptist-fifth-right-logo {
    margin-bottom: 0;
    margin-left: auto;
  }

  .all-cryptist-fifth-right-top-image {
    width: 200px;
    min-width: 200px;
    margin-left: auto;
  }

  .all-cryptist-fifth-left-top-button {
    margin: 0;
    margin-right: auto;
  }

  .all-cryptist-sixth-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 3);
    margin-top: 120px;
  }

  .all-cryptist-sixth-right-wrapper {
    flex-direction: row;
  }

  .all-cryptist-sixth-right-wrapper {
    flex-direction: column-reverse;
    width: 300px;
    min-width: 300px;
    margin-top: calc(var(--box-padding) * 7);
    margin-left: auto;
  }

  .all-cryptist-sixth-left-button {
    margin: 0;
    margin-left: auto;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-eighth-right-image {
    display: none !important;
    width: 300px;
    min-width: 300px;
  }

  .all-cryptist-ninth-right-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-tenth-left-image {
    display: none !important;
  }

  .each-cryptist-footer-button {
    font-size: 14px;
    padding-right: 0;
  }

  .each-cryptist-footer-button-secondary-text {
    font-size: 14px;
  }

  .all-cryptist-footer-buttons-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-cryptist-first-left-title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .all-cryptist-first-left-title {
    font-size: 50px;
  }

  .all-cryptist-first-left-event-text {
    font-size: 14px;
  }

  .all-cryptist-second-right-wrapper {
    width: 100%;
    min-width: 100%;
    margin-bottom: 60px;
  }

  .all-cryptist-fourth-bottom-left-image {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-fourth-bottom-right-image {
    display: none;
  }

  .all-cryptist-ninth-right-middle-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-ninth-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-tenth-right-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-cryptist-footer-buttons-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .each-cryptist-footer-button-column {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .each-cryptist-sponsor {
    width: 68px;
    min-width: 68px;
  }

  .all-cryptist-first-left-title {
    font-size: 36px;
  }

  .all-cryptist-first-left-event-stats-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .all-cryptist-fifth-left-middle-image {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-sixth-right-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-seventh-left-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-seventh-right-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-seventh-left-bottom-logo {
    width: 90px;
    min-width: 90px;
  }

  .all-cryptist-eighth-left-bottom-logo {
    width: 90px;
    min-width: 90px;
  }

  .all-cryptist-eighth-left-wrapper {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-ninth-right-image {
    width: 200px;
    min-width: 200px;
  }

  .all-cryptist-tenth-left-image {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .each-cryptist-sponsor {
    width: 50px;
    min-width: 50px;
  }
}