:root {
    --cryptist-color: rgba(97, 214, 214, 1);
    --sui-move-workshop-color: rgba(76, 163, 255, 1);
    --aleo-tour-of-turkiye-color: rgba(178, 178, 255, 1);
    --nym-community-gathering-color: rgba(241, 46, 79, 1);
    --moda-palas-color: rgba(161, 161, 161, 1);
    --all-header-top-wrapper-height: 100px;
    --all-header-logo-width: 138px;
    --all-header-logo-height: 24px;
    --all-header-logo-color: rgba(254, 254, 254, 1);
    --all-header-language-button-flag-width: 24px;
    --all-header-bottom-wrapper-height: 60px;
    --all-header-bottom-wrapper-color: rgba(54, 54, 181, 1)
}

.all-header-wrapper {
    display: flex;
    flex-direction: column;
}

.all-header-top-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: calc(var(--box-padding) * 2.5);
    padding-right: calc(var(--box-padding) * 2.5);
    gap: calc(var(--box-padding) / 3);
    align-items: center;
    width: 100vw;
    min-width: 100vw;
    height: var(--all-header-top-wrapper-height);
}

.all-header-logo {
    width: var(--all-header-logo-width);
    min-width: var(--all-header-logo-width);
    height: auto;
    fill: var(--all-header-logo-color);
}

.all-header-language-button {
    display: flex;
    align-items: center;
    gap: calc(var(--box-padding) / 3);
    padding: calc(var(--box-padding) / 4) calc(var(--box-padding) / 3);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}

.all-header-language-button:hover {
    border: 1px solid var(--border-color);
}

.all-header-language-button {
    text-decoration: none;
}

.all-header-language-button-flag {
    width: var(--all-header-language-button-flag-width);
    min-width: var(--all-header-language-button-flag-width);
    height: auto;
}

.all-header-language-button-text {
    color: var(--text-color);
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: capitalize;
}

.all-header-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(var(--box-padding) / 2);
    padding-bottom: calc(var(--box-padding) / 2);
    gap: calc(var(--box-padding) * 3);
    background-color: var(--all-header-bottom-wrapper-color);
    width: 100vw;
    min-width: 100vw;
    height: var(--all-header-bottom-wrapper-height);
}

.each-all-header-button {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Atyp', sans-serif;
    color: var(--text-color);
}

.each-all-header-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

.each-all-header-button:hover::after,
.each-all-header-button:focus::after {
    width: 100%;
}