:root {
	--cryptist-color: rgba(97, 214, 214, 1);
	--sui-move-workshop-color: rgba(76, 163, 255, 1);
	--aleo-tour-of-turkiye-color: rgba(178, 178, 255, 1);
	--nym-community-gathering-color: rgba(241, 46, 79, 1);
	--moda-palas-color: rgba(161, 161, 161, 1);
	--all-header-wrapper-height: calc(var(--all-header-top-wrapper-height) + var(--all-header-bottom-wrapper-height));
	--all-header-top-wrapper-height: 80px;
	--all-header-logo-width: 138px;
	--all-header-logo-height: 24px;
	--all-header-logo-color: rgba(254, 254, 254, 1);
	--all-header-language-button-flag-width: 24px;
	--all-header-bottom-wrapper-height: 50px;
	--all-header-bottom-wrapper-color: rgba(54, 54, 181, 1);
	--all-second-footer-each-column-width: 200px;
}

.all-header-wrapper {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	z-index: 80;
}

.all-header-top-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 calc(var(--page-horizontal-padding));
	gap: calc(var(--box-padding) / 3);
	align-items: center;
	width: 100vw;
	min-width: 100vw;
	height: var(--all-header-top-wrapper-height);
	background-color: var(--background-color);
	z-index: 91;
}

.all-header-logo {
	width: var(--all-header-logo-width);
	min-width: var(--all-header-logo-width);
	height: auto;
	fill: var(--all-header-logo-color);
}

.all-header-language-button {
	display: flex;
	align-items: center;
	gap: calc(var(--box-padding) / 3);
	padding: calc(var(--box-padding) / 4) calc(var(--box-padding) / 3);
	border: 1px solid transparent;
	border-radius: 5px;
	transition: border 0.3s ease-in-out;
}

.all-header-language-button:hover {
	border: 1px solid var(--border-color);
}

.all-header-language-button {
	text-decoration: none;
}

.all-header-language-button-flag {
	width: var(--all-header-language-button-flag-width);
	min-width: var(--all-header-language-button-flag-width);
	height: auto;
}

.all-header-language-button-text {
	color: var(--text-color);
	font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
	text-transform: capitalize;
}

.all-header-bottom-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: calc(var(--box-padding) / 2);
	padding-bottom: calc(var(--box-padding) / 2);
	gap: calc(var(--box-padding) * 3);
	background-color: var(--all-header-bottom-wrapper-color);
	width: 100vw;
	min-width: 100vw;
	height: var(--all-header-bottom-wrapper-height);
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
	z-index: 90;
}

.all-header-bottom-wrapper-hidden {
	transform: translateY(-100%) !important;
}

.each-all-header-button {
	position: relative;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
	color: var(--text-color);
	transition: transform 0.3s ease-in-out;
}

.secondary-each-all-header-button {
	display: none;
}

.all-footer-wrapper {
	display: flex;
	width: 100vw;
	max-width: 100vw;
	padding: 0 calc(var(--content-horizontal-padding) * 1.6);
	gap: calc(var(--box-padding) * 8);
	padding-bottom: calc(var(--box-padding) * 4);
	margin-top: calc(var(--box-padding) * 6);
}

.all-footer-left-wrapper {
	display: flex;
	flex-direction: column;
	width: 40%;
	min-width: 40%;
}

.all-footer-title {
	display: flex;
	color: var(--text-color);
	font-size: 40px;
	line-height: 1.4;
	margin-bottom: calc(var(--box-padding) * 0.4);
}

.all-footer-text {
	display: flex;
	color: var(--text-color);
	font-size: 18px;
	line-height: 1.7;
	letter-spacing: -0.4px;
	margin-bottom: calc(var(--box-padding) * 2);
}

.all-footer-subtitle {
	display: flex;
	color: var(--text-color);
	font-size: 18px;
}

.all-footer-form {
	display: flex;
	flex-direction: column;
}

.all-footer-input-label {
	color: var(--text-color);
	font-size: 14px;
	margin-top: calc(var(--box-padding) * 0.6);
}

.all-footer-input {
	display: flex;
	width: 100%;
	border: none;
	height: var(--all-footer-input-height);
	min-height: var(--all-footer-input-height);
	background-color: var(--background-color);
	outline: none;
	color: var(--text-color-two);
	font-size: 16px;
	line-height: 1.5;
}

.all-footer-input-border-bottom {
	display: flex;
	width: 100%;
	height: 1px;
	min-height: 1px;
	border: none;
	background-image: linear-gradient(to right, var(--secondary-color), var(--third-color));
}

.all-footer-button {
	display: flex;
	align-items: center;
	gap: calc(var(--box-padding) * 0.5);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 0;
	border: none;
	background: linear-gradient(to right, var(--secondary-color), var(--third-color));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px;
	margin-top: calc(var(--box-padding) * 1.6);
	cursor: pointer;
}

.all-footer-button:hover>.all-footer-button-icon {
	transform: translate(2px, -2px);
}

.all-footer-button-icon {
	display: flex;
	width: 14px;
	min-width: 14px;
	height: auto;
	stroke: var(--third-color);
	transition: transform 0.3s ease-in-out;
}

.all-footer-right-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: auto;
	min-width: auto;
	justify-content: center;
}

.each-footer-right-button {
	display: flex;
	text-decoration: none;
	color: var(--text-color);
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.72px;
	padding-right: 20px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 14px;
	margin-bottom: 14px;
	cursor: pointer;
}

.each-footer-right-button:hover+.each-footer-right-button-border-bottom {
	height: 3px;
	min-height: 3px;
	margin-top: -1px;
	margin-bottom: -1px;
}

.each-footer-right-button:hover>.each-footer-right-button-icon {
	transform: translate(2px, -2px);
}

.each-footer-right-button-icon {
	display: flex;
	width: 20px;
	min-width: 20px;
	height: auto;
	stroke: var(--text-color);
	transition: all 0.3s ease-in-out;
}

.each-footer-right-button-border-bottom {
	display: flex;
	width: 100%;
	height: 1px;
	min-height: 1px;
	border: none;
	background-image: linear-gradient(to right, var(--secondary-color), var(--third-color));
	transition: all 0.2s ease-in-out;
}

.each-footer-right-button-secondary-text {
	color: var(--text-color);
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.48px;
}

.all-second-footer-wrapper {
	margin-top: var(--box-padding);
	height: fit-content;
	min-height: fit-content;
	width: 100vw;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-two);
}

.all-second-footer-top-wrapper {
	height: fit-content;
	min-height: fit-content;
	width: 100vw;
	min-width: 100vw;
	padding: var(--box-padding) var(--page-horizontal-padding);
	display: flex;
}

.all-second-footer-left-wrapper {
	height: auto;
	min-height: auto;
	width: fit-content;
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.all-second-footer-logo {
	width: 150px;
	height: auto;
	margin-bottom: auto;
}

.all-second-footer-copyright {
	font-weight: 600;
	color: var(--text-color);
	font-size: 15px;
	margin-top: var(--box-padding);
}

.all-second-footer-right-wrapper {
	flex: 1;
	height: fit-content;
	min-height: fit-content;
	display: flex;
	flex-direction: column;
	margin-left: calc(var(--box-padding) * 2);
}

.all-second-footer-right-info-wrapper {
	height: fit-content;
	min-height: fit-content;
	width: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

.all-second-footer-title {
	font-weight: 700;
	font-size: 18px;
	color: var(--text-color);
}

.all-second-footer-subtitle {
	font-weight: 500;
	font-size: 16px;
	color: var(--text-color-two);
	margin-top: 5px;
}

.all-second-footer-right-columns-wrapper {
	height: fit-content;
	min-height: fit-content;
	width: 100%;
	min-width: 100%;
	display: flex;
	margin-top: var(--box-padding);
}

.all-second-footer-each-column-wrapper {
	height: fit-content;
	min-height: fit-content;
	width: var(--all-second-footer-each-column-width);
	min-width: var(--all-second-footer-each-column-width);
	margin-right: var(--box-padding);
	display: flex;
	flex-direction: column;
}

.all-second-footer-each-column-title {
	font-weight: 700;
	font-size: 16px;
	color: var(--text-color);
	margin-bottom: calc(var(--box-padding) / 2);
}

.all-second-footer-each-column-link {
	font-weight: 500;
	font-size: 15px;
	color: var(--text-color-two);
	text-decoration: none;
	text-underline-offset: 6px;
	margin-bottom: 5px;
	cursor: pointer;
}

.all-second-footer-each-column-link:hover {
	text-decoration: underline;
}

.all-second-footer-social-media-account-wrapper {
	display: flex;
	align-items: center;
	height: fit-content;
	min-height: fit-content;
	text-decoration: none;
}

.all-second-footer-social-media-account-icon {
	height: 15px;
	fill: var(--text-color-two);
	margin-bottom: 5px;
	margin-right: 10px;
}

.all-second-footer-bottom-wrapper {
	height: 30px;
	min-height: 30px;
	padding: 0 var(--page-horizontal-padding);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: rgba(1, 1, 2);
}

.all-second-footer-bottom-text {
	color: var(--text-color);
	font-weight: 700;
	font-size: 12px;
	color: var(--text-color);
}

@media only screen and (max-width: 1500px) {
	.all-footer-wrapper {
		gap: calc(var(--box-padding) * 4);
	}

	.all-footer-text {
		font-size: 16px;
	}
}


@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1200px) {
	.all-footer-title {
		font-size: 30px;
	}

	.all-header-bottom-wrapper {
		gap: calc(var(--box-padding) * 2);
	}
}

@media only screen and (max-width: 1100px) {
	:root {
		--all-second-footer-each-column-width: 150px;
	}
}

@media only screen and (max-width: 1000px) {
	.all-footer-text {
		font-size: 14px;
	}

	.each-footer-right-button,
	.all-footer-button {
		font-size: 16px;
	}

	.each-footer-right-button-icon {
		width: 18px;
		min-width: 18px;
	}

	.each-footer-right-button-secondary-text {
		font-size: 12px;
	}

	.all-header-bottom-wrapper {
		gap: calc(var(--box-padding));
	}
}

@media only screen and (max-width: 900px) {
	.each-all-header-button {
		font-size: 16px;
	}
}


@media only screen and (max-width: 800px) {
	.all-footer-wrapper {
		flex-direction: column;
		gap: calc(var(--box-padding) * 4);
	}

	.all-footer-left-wrapper {
		width: 100%;
		min-width: 100%;
	}

	.each-all-header-button {
		font-size: 14px;
	}

	.all-second-footer-top-wrapper {
		flex-direction: column;
	}

	.all-second-footer-left-wrapper,
	.all-second-footer-right-wrapper {
		width: 100%;
		min-width: 100%;
		height: fit-content;
		min-height: fit-content;
	}

	.all-second-footer-right-wrapper {
		margin-left: 0;
		margin-top: var(--box-padding);
	}
}


@media only screen and (max-width: 700px) {
	:root {
		--all-header-top-wrapper-height: 60px;
		--all-header-bottom-wrapper-height: 40px;
	}

	.all-footer-title {
		font-size: 22px;
	}

	.each-footer-right-button {
		font-size: 14px;
	}

	.each-footer-right-button-icon {
		width: 16px;
		min-width: 16px;
	}

	.each-all-header-button {
		font-size: 12px;
	}
}


@media only screen and (max-width: 600px) {
	.main-each-all-header-button {
		display: none;
	}

	.secondary-each-all-header-button {
		display: flex;
	}

	.each-all-header-button {
		font-size: 13px;
	}
}


@media only screen and (max-width: 500px) {
	.each-all-header-button {
		font-size: 12px;
		line-height: 1;
	}

	.all-header-bottom-wrapper {
		flex-wrap: wrap;
		row-gap: 0;
	}

	.all-second-footer-copyright,
	.all-second-footer-each-column-link {
		font-size: 14px;
	}

	.all-second-footer-subtitle,
	.all-second-footer-each-column-title {
		font-size: 15px;
	}
}


@media only screen and (max-width: 400px) {}