:root {
  --all-moda-event-type-background: rgba(0, 124, 255, 1);
}

.all-moda-first-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
}

.all-moda-first-title {
  color: var(--text-color);
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 5.28px;
  background: linear-gradient(146deg, #FF9654 3.33%, #FFF 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation: modaFirstTitleAnimation 2s ease-in-out infinite alternate;
  animation: modaFirstTitleAnimation 2s ease-in-out infinite alternate;
}

@-webkit-keyframes modaFirstTitleAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes modaFirstTitleAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#moda-slider-text::after {
  background: linear-gradient(146deg, #FF9654 3.33%, #FFF 100%);
  background-clip: text;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-animation: modaFirstTitleAnimation 2s ease-in-out infinite alternate;
  animation: modaFirstTitleAnimation 2s ease-in-out infinite alternate;
}

.all-moda-first-event-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--all-moda-event-type-background);
  color: var(--text-color);
  font-size: 14px;
  padding: 2px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-moda-first-text {
  width: 50%;
  color: var(--text-color-three);
}

.all-moda-second-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 2);
  margin-top: calc(var(--box-padding) * 2);
}

.all-moda-second-left-wrapper {
  width: 35%;
  min-width: 35%;
  display: flex;
  gap: calc(var(--box-padding) / 2);
}

.all-moda-second-left-left-wrapper {
  width: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) * 2);
}

.all-moda-second-left-left-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-moda-second-left-left-bottom-wrapper {
  margin-right: auto;
}

.all-modas-econd-left-right-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
}

.all-moda-second-left-right-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-modas-econd-left-right-emoji {
  font-size: 28px;
  margin-left: auto;
}

.all-moda-second-right-wrapper {
  width: auto;
  display: flex;
  gap: calc(var(--box-padding));
}

.all-moda-second-right-left-wrapper {
  width: 60%;
  min-width: 60%;
  display: flex;
}

.all-moda-second-right-left-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-moda-second-right-right-wrapper {
  width: auto;
  display: flex;
}

.all-moda-second-right-right-image {
  width: 100%;
  height: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.all-moda-third-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 3);
  justify-content: space-between;
  margin-top: calc(var(--box-padding) * 4);
}

.all-moda-third-left-wrapper {
  width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 230px;
  padding-top: 30px;
}

.each-moda-third-left-image {
  width: 100%;
  height: auto;
  z-index: 111;
  overflow: hidden;
}

.all-moda-third-right-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--box-padding) * 2);
}

.all-moda-third-right-text-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding));
  margin-bottom: calc(var(--box-padding) * 2);
}

.each-moda-third-right-text {
  width: auto;
  color: var(--text-color-three);
}

.all-moda-third-right-image {
  width: 510px;
  min-width: 510px;
  height: auto;
  margin-left: auto;
  z-index: 111;
  overflow: hidden;
}

.all-moda-third-title-first-row-wrapper {
  position: absolute;
  display: flex;
  top: 210px;
  left: 60px;
  font-weight: 700;
}


.each-moda-third-title-first-row-part {
  color: var(--text-color);
  font-size: 108px;
  z-index: 112;
}

.each-moda-third-title-first-row-part:nth-child(2) {
  z-index: 110;
}

.all-moda-third-title-second-row-wrapper {
  position: absolute;
  display: flex;
  top: 320px;
  right: 220px;
  font-weight: 700;
}

.each-moda-third-title-second-row-part {
  color: var(--text-color);
  font-size: 108px;
  z-index: 112;
}

.each-moda-third-title-second-row-part:nth-child(2) {
  z-index: 110;
}

.all-moda-third-title-third-row-wrapper {
  position: absolute;
  display: flex;
  top: 430px;
  left: 312px;
  font-weight: 700;
}

.each-moda-third-title-third-row-part {
  color: var(--text-color);
  font-size: 108px;
  z-index: 112;
}

.each-moda-third-title-third-row-part:nth-child(2) {
  z-index: 110;
}

.all-moda-fourth-wrapper {
  display: none;
}

.all-moda-footer-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 2);
  margin-top: calc(var(--box-padding) * 4);
}

.all-moda-footer-left-wrapper {
  width: 50%;
  min-width: 50%;
  display: flex;
}

.all-moda-footer-left-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-moda-footer-right-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-moda-footer-right-text {
  color: var(--text-color-three);
}

.all-moda-footer-right-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.each-moda-footer-right-button {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.72px;
  padding-right: calc(var(--box-padding));
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.each-moda-footer-right-button:hover+.each-moda-footer-right-button-border-bottom {
  height: 3px;
  min-height: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.each-moda-footer-right-button:hover>.each-moda-footer-right-button-icon {
  transform: translate(2px, -2px);
}

.each-moda-footer-right-button-icon {
  display: flex;
  width: 16px;
  min-width: 16px;
  height: auto;
  stroke: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.each-moda-footer-right-button-border-bottom {
  display: flex;
  width: 100%;
  height: 1px;
  min-height: 1px;
  border: none;
  background: var(--text-color);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1500px) {
  .all-moda-third-left-wrapper {
    width: 320px;
    min-width: 320px;
    gap: 190px;
  }

  .all-moda-third-title-first-row-wrapper {
    top: 175px;
  }

  .all-moda-third-title-second-row-wrapper {
    top: 268px;
    right: 120px;
  }

  .all-moda-third-title-third-row-wrapper {
    top: 360px;
    left: 245px;
  }

  .all-moda-third-right-image {
    width: 430px;
    min-width: 430px;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 94px;
  }

  .all-moda-third-right-text-wrapper {
    position: relative;
    top: 100px;
  }
}

@media only screen and (max-width: 1300px) {
  .all-moda-third-right-text-wrapper {
    top: 120px;
  }
}

@media only screen and (max-width: 1200px) {
  .all-moda-third-right-text-wrapper {
    top: 120px;
  }

  .all-moda-third-left-wrapper {
    width: 290px;
    min-width: 290px;
    gap: 180px;
  }

  .all-moda-third-title-first-row-wrapper {
    top: 160px;
  }

  .all-moda-third-title-second-row-wrapper {
    top: 250px;
    right: 110px;
  }

  .all-moda-third-title-third-row-wrapper {
    top: 340px;
    left: 220px;
  }

  .all-moda-third-right-image {
    width: 400px;
    min-width: 400px;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 84px;
  }

  .all-moda-third-right-text-wrapper {
    top: 120px;
  }

  .all-moda-third-wrapper {
    gap: calc(var(--box-padding) * 2);
  }

  .all-moda-second-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-modas-econd-left-right-emoji {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1100px) {
  .all-moda-second-left-left-image {
    display: none !important;
  }

  .all-moda-second-left-wrapper {
    flex-direction: column;
    width: 20%;
    min-width: 20%;
  }

  .all-moda-second-left-left-bottom-wrapper {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }

  .all-moda-second-left-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-third-right-text-wrapper {
    top: 100px;
  }

  .all-moda-third-left-wrapper {
    width: 250px;
    min-width: 250px;
    gap: 150px;
  }

  .all-moda-third-title-first-row-wrapper {
    top: 144px;
  }

  .all-moda-third-title-second-row-wrapper {
    top: 218px;
    right: 90px;
  }

  .all-moda-third-title-third-row-wrapper {
    top: 292px;
    left: 190px;
  }

  .all-moda-third-right-image {
    width: 350px;
    min-width: 350px;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 70px;
  }

  .all-moda-third-right-text-wrapper {
    top: 100px;
  }

  .each-moda-footer-right-button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .all-moda-footer-wrapper {
    margin-top: calc(var(--box-padding) * 6);
  }
}

@media only screen and (max-width: 900px) {
  .all-moda-third-right-text-wrapper {
    flex-direction: column;
    top: 90px;
  }

  .all-moda-third-left-wrapper {
    width: 225px;
    min-width: 225px;
    gap: 135px;
  }

  .all-moda-third-title-first-row-wrapper {
    top: 130px;
  }

  .all-moda-third-title-second-row-wrapper {
    top: 195px;
    right: 60px;
  }

  .all-moda-third-title-third-row-wrapper {
    top: 260px;
    left: 170px;
  }

  .all-moda-third-right-image {
    width: 315px;
    min-width: 315px;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 64px;
  }

  .each-moda-footer-right-button {
    font-size: 14px;
  }

  .each-moda-footer-right-button-icon {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .all-moda-first-title {
    font-size: 54px;
  }

  .all-moda-second-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-moda-second-left-right-image {
    display: none !important;
  }

  .all-modas-econd-left-right-emoji {
    margin: 0;
  }

  .all-moda-second-left-wrapper {
    width: 80%;
    min-width: 80%;
  }

  .all-moda-second-right-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-third-right-text-wrapper {
    top: 70px;
  }

  .all-moda-third-left-wrapper {
    width: 180px;
    min-width: 180px;
    gap: 100px;
    padding-top: 18px;
  }

  .all-moda-third-title-first-row-wrapper {
    top: 100px;
  }

  .all-moda-third-title-second-row-wrapper {
    top: 150px;
    right: 50px;
  }

  .all-moda-third-title-third-row-wrapper {
    top: 200px;
    left: 140px;
  }

  .all-moda-third-right-image {
    width: 244px;
    min-width: 244px;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 50px;
  }

  .all-moda-footer-wrapper {
    margin-top: calc(var(--box-padding) * 4);
  }
}

@media only screen and (max-width: 700px) {
  .all-moda-first-title {
    font-size: 48px;
    letter-spacing: 4px;
  }

  .all-moda-first-text {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-second-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-second-right-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-third-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-moda-third-left-wrapper {
    gap: 118px;
  }

  .all-moda-third-title-first-row-wrapper {
    left: 20px;
  }

  .all-moda-third-title-second-row-wrapper {
    right: 20px;
  }

  .all-moda-third-title-third-row-wrapper {
    left: 40px;
  }

  .all-moda-third-right-image {
    width: 160px;
    min-width: 160px;
    margin-top: 58px;
  }

  .each-moda-third-right-text:nth-child(2) {
    display: none;
  }

  .all-moda-fourth-wrapper {
    display: flex;
    margin-top: calc(var(--box-padding) * 6);
  }

  .all-moda-footer-wrapper {
    flex-direction: column;
  }

  .all-moda-footer-left-wrapper {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .all-moda-second-wrapper {
    gap: calc(var(--box-padding) * 2);
  }

  .all-moda-second-left-wrapper {
    gap: calc(var(--box-padding) * 2);
  }

  .all-moda-third-wrapper {
    gap: calc(var(--box-padding) * 2);
  }
}

@media only screen and (max-width: 500px) {
  .all-moda-third-wrapper {
    flex-direction: column;
  }

  .all-moda-third-left-wrapper {
    width: 100%;
    min-width: 100%;
    gap: 85px;
  }

  .each-moda-third-left-image {
    width: 200px;
    min-width: 200px;
  }

  .each-moda-third-left-image:nth-child(2) {
    margin-left: auto;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 34px;
  }

  .all-moda-third-title-first-row-wrapper {
    top: 116px;
    left: unset;
    right: 0;
  }

  .all-moda-third-title-second-row-wrapper {
    top: 156px;
    right: unset;
    left: 20px;
  }

  .all-moda-third-title-third-row-wrapper {
    top: 196px;
    left: unset;
    right: 30px;
  }

  .all-moda-third-right-wrapper {
    gap: 0;
  }

  .all-moda-third-right-text-wrapper {
    top: 16px;
  }

  .all-moda-third-right-image {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .all-moda-second-left-wrapper {
    flex-direction: column-reverse;
  }

  .all-moda-second-left-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-second-left-right-image {
    display: none;
  }

  .all-moda-second-right-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-moda-second-right-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-moda-second-right-left-image {
    display: none !important;
  }

  .each-moda-third-title-first-row-part,
  .each-moda-third-title-second-row-part,
  .each-moda-third-title-third-row-part {
    font-size: 28px;
  }

  .all-moda-third-left-wrapper {
    gap: 81px;
  }
}