:root {
  --all-nym-first-left-title-first-color: rgba(244, 113, 28, 1);
  --all-nym-first-left-title-second-color: rgba(241, 46, 79, 1);
  --all-nym-first-left-event-type-background: rgba(0, 124, 255, 1);
  --all-nym-footer-left-button-color: var(--text-color);
  --all-nym-footer-left-button-border-color: var(--text-color);
}

.all-nym-first-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 3);
}

.all-nym-first-left-wrapper {
  width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  z-index: 105;
}

.all-nym-first-left-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(60deg, var(--all-nym-first-left-title-first-color) 20%, var(--all-nym-first-left-title-second-color) 50%, var(--all-nym-first-left-title-first-color) 80%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 80px;
  font-weight: 600;
  line-height: 1.1;
  animation: nymFirstLeftTitleAnimation 2s ease-in-out infinite alternate;
}

@keyframes nymFirstLeftTitleAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#nym-slider-text::after {
  background: linear-gradient(60deg, var(--all-nym-first-left-title-first-color) 20%, var(--all-nym-first-left-title-second-color) 50%, var(--all-nym-first-left-title-first-color) 80%);
  background-clip: text;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  animation: nymFirstLeftTitleAnimation 2s ease-in-out infinite alternate;
}

.all-nym-first-left-event-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--all-nym-first-left-event-type-background);
  color: var(--text-color);
  font-size: 14px;
  padding: 2px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-nym-first-left-text {
  color: var(--text-color);
  width: 100%;
}

.all-nym-first-left-bottom-wrapper {
  display: flex;
  align-items: bottom;
  gap: calc(var(--box-padding) / 4);
  margin-right: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  margin-top: calc(var(--box-padding) * 3);
}

.all-nym-first-left-bottom-text {
  color: var(--text-color);
  font-size: 16px;
}

.all-nym-first-left-bottom-icon {
  position: relative;
  top: -3px;
  width: 18px;
  min-width: 18px;
  height: auto;
  stroke: var(--text-color);
}

.all-nym-first-right-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) * 0.5);
  margin-top: auto;
}

.all-nym-first-right-emoji {
  font-size: 28px;
  margin-left: auto;
}

.all-nym-first-right-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-nym-second-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
  padding: 0 calc(var(--box-padding) * 2);
  margin-top: calc(var(--box-padding) * 6);
  margin-bottom: calc(var(--box-padding) * 2);
}

.each-nym-second-row-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding) * 1.2);
  justify-content: space-between;
}

.each-nym-second-svg {
  width: auto;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.each-nym-second-image {
  width: 45%;
  min-width: 45%;
  height: auto;
  overflow: hidden;
}

.all-nym-third-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding));
  margin-top: calc(var(--box-padding) * 4);
}

.all-nym-third-left-wrapper {
  width: 45%;
  min-width: 45%;
  display: flex;
  flex-direction: column;
}

.all-nym-third-event-stats-number {
  display: none;
  /* color: var(--text-color);
  font-size: 32px; */
}

.all-nym-third-event-stats-text {
  display: none;
  /* color: var(--text-color-three);
  font-size: 14px; */
}

.all-nym-third-text {
  width: 100%;
  color: var(--text-color);
  margin-top: calc(var(--box-padding) * 2);
  margin-bottom: calc(var(--box-padding));
}

.all-nym-third-right-wrapper {
  width: auto;
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

.all-nym-third-right-image {
  width: 100px;
  min-width: 100px;
  height: auto;
}

.all-nym-third-right-image img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.all-nym-footer-wrapper {
  width: 100%;
  display: flex;
  gap: calc(var(--box-padding));
  margin-top: calc(var(--box-padding) * 4);
}

.all-nym-footer-left-wrapper {
  width: 45%;
  min-width: 45%;
  display: flex;
  flex-direction: column;
}

.all-nym-footer-left-title {
  color: var(--text-color);
  font-size: 28px;
  line-height: 1.3;
  margin-top: calc(var(--box-padding));
  margin-bottom: calc(var(--box-padding) / 3);
}

.all-nym-footer-left-button {
  display: flex;
  text-decoration: none;
  color: var(--all-nym-footer-left-button-color);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.72px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--box-padding) * 2);
  margin-bottom: 14px;
  cursor: pointer;
}

.all-nym-footer-left-button:hover>.all-nym-footer-left-button-icon {
  transform: translate(2px, -2px);
}

.all-nym-footer-left-button:hover,
.all-nym-footer-left-button:hover+.all-nym-footer-left-button-border-bottom {
  --all-nym-footer-left-button-border-color: rgba(241, 46, 79, 1);
}

.all-nym-footer-left-button-icon {
  display: flex;
  width: 16px;
  min-width: 16px;
  height: auto;
  stroke: var(--all-nym-footer-left-button-color);
  transition: all 0.3s ease-in-out;
}

.all-nym-footer-left-button-border-bottom {
  display: flex;
  width: 100%;
  height: 1px;
  min-height: 1px;
  border: none;
  background: var(--all-nym-footer-left-button-border-color);
  transition: all 0.2s ease-in-out;
}

.all-nym-footer-left-image {
  width: 55%;
  height: auto;
  margin-top: calc(var(--box-padding) * 2);
  margin-left: auto;
  overflow: hidden;
}

.all-nym-footer-right-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding));
}

.all-nym-footer-right-top-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.all-nym-footer-right-bottom-image {
  width: 80%;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1500px) {
  .all-nym-first-left-wrapper {
    width: 400px;
    min-width: 400px;
  }
}

@media only screen and (max-width: 1300px) {
  .all-nym-first-left-wrapper {
    width: 320px;
    min-width: 320px;
  }
}

@media only screen and (max-width: 1200px) {
  .all-nym-first-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-nym-first-left-title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1100px) {
  .all-nym-first-left-title {
    font-size: 60px;
  }

  .all-nym-first-left-wrapper {
    width: 280px;
    min-width: 280px;
  }

  .all-nym-second-wrapper {
    padding: 0;
  }

  .all-nym-third-text {
    margin-top: calc(var(--box-padding));
  }

  .all-nym-footer-left-title {
    font-size: 24px;
  }

  .all-nym-footer-left-button {
    font-size: 16px;
  }

  .all-nym-footer-left-button-icon {
    width: 14px;
    min-width: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .all-nym-first-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-nym-first-left-wrapper {
    width: 70%;
    min-width: 70%;
  }

  .all-nym-first-right-wrapper {
    width: 80%;
    min-width: 80%;
    margin-left: auto;
  }

  .all-nym-first-left-bottom-wrapper {
    margin-top: calc(var(--box-padding));
  }
}

@media only screen and (max-width: 1000px) {
  .all-nym-footer-right-wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 800px) {
  .all-nym-third-left-wrapper {
    width: 70%;
    min-width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .all-nym-first-left-bottom-wrapper {
    gap: calc(var(--box-padding));
  }

  .all-nym-first-left-bottom-text {
    font-size: 14px;
  }

  .all-nym-first-left-bottom-icon {
    width: 16px;
    min-width: 16px;
  }

  .all-nym-first-right-wrapper {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }

  .all-nym-second-wrapper {
    margin-top: calc(var(--box-padding) * 2);
  }

  .all-nym-footer-wrapper {
    flex-direction: column-reverse;
  }

  .all-nym-footer-right-top-image {
    display: none !important;
  }

  .all-nym-footer-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-nym-footer-left-image {
    display: none;
  }

  .each-nym-second-row-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding));
  }

  .each-nym-second-image {
    width: 80%;
    min-width: 80%;
  }

  .each-nym-second-image:nth-child(odd) {
    margin-left: auto;
  }

  .all-nym-third-right-image {
    width: 80px;
    min-width: 80px;
  }

  .all-nym-footer-right-wrapper {
    gap: calc(var(--box-padding) * 2);
  }
}

@media only screen and (max-width: 600px) {
  .all-nym-first-left-title {
    font-size: 50px;
  }

  .all-nym-first-left-event-type {
    font-size: 12px;
  }

  .all-nym-first-left-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .all-nym-footer-left-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .all-nym-first-left-title {
    font-size: 40px;
  }

  .all-nym-third-right-image {
    width: 60px;
    min-width: 60px;
  }

  .all-nym-footer-right-bottom-image {
    margin: 0;
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .all-nym-first-left-title {
    font-size: 30px;
  }

  .all-nym-third-wrapper {
    flex-direction: column;
    gap: calc(var(--box-padding) * 2);
  }

  .all-nym-third-left-wrapper {
    width: 100%;
    min-width: 100%;
  }
}